In [6]:
import pandas as pd

dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
print(dict_data, type(dict_data))

series = pd.Series(dict_data)
print(series, type(series))

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>
a    1
b    2
c    3
dtype: int64 <class 'pandas.core.series.Series'>

In [8]:
print(series.index)
print(series.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [9]:
list_data = ['a', 'b', 'c']

series_list = pd.Series(list_data)
print(series_list)

0    a
1    b
2    c
dtype: object

In [12]:
series_index = pd.Series(list_data, index=['index1', 'index2', 'index3'])
print(series_index)

index1    a
index2    b
index3    c
dtype: object

In [14]:
capital = pd.Series({'korea':'seoul',
                     'japan':'tokyo',
                     'china':'beijing',
                     'india':'new delhi',
                     'taiwan':'taipei',
                     'singapore':'singapore'})

capital

korea            seoul
japan            tokyo
china          beijing
india        new delhi
taiwan          taipei
singapore    singapore
dtype: object

In [15]:
capital['korea']

'seoul'

In [17]:
capital[['korea', 'japan']]

korea    seoul
japan    tokyo
dtype: object

In [18]:
capital[0]

/tmp/ipykernel_8081/3861522677.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  capital[0]

'seoul'

In [19]:
capital[[0, 3]]

/tmp/ipykernel_8081/1449061399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  capital[[0, 3]]

korea        seoul
india    new delhi
dtype: object

In [20]:
capital[0:3]

korea      seoul
japan      tokyo
china    beijing
dtype: object

In [28]:
series_1 = [1, 2, 3]
series_2 = [4, 5 ,6]

print(series_1 + series_2)

seriespd1 = pd.Series([1, 2, 3])
seriespd2 = pd.Series([4, 5, 6])

print(seriespd1 + seriespd2)

[1, 2, 3, 4, 5, 6]
0    5
1    7
2    9
dtype: int64

In [29]:
df = {'col1':[1, 2 ,3], 'col2': [4, 5, 6]}
pd.DataFrame(df)

   col1  col2
0     1     4
1     2     5
2     3     6