# 데이터 타입

In [5]:
import datetime as dt

var = dt.datetime.now()

print(var)
print(type(var))

2024-06-26 17:56:50.811304
<class 'datetime.datetime'>

In [6]:
# yyyy-mm-dd
var.strftime('%Y-%m-%d')

'2024-06-26'

In [7]:
dt.datetime.strptime('2024-06-26 17:56:50', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2024, 6, 26, 17, 56, 50)

In [23]:
dt1 = dt.datetime(2024, 1, 1)
dt2 = dt.datetime(2023, 1, 1)

dt1 - dt2

datetime.timedelta(days=365)

In [24]:
dt1 + dt.timedelta(days = 1)

datetime.datetime(2024, 1, 2, 0, 0)

In [26]:
from dateutil.relativedelta import relativedelta

dt1 + relativedelta(months = 1)

datetime.datetime(2024, 2, 1, 0, 0)

# 제어문, 함수와 패키지

In [30]:
num = [1, 2, 3, '4', 5]

for i in num:
    try:
        print(i ** 2)
    except:
        print(f'error at : {i}')

1
4
9
error at : 4
25

In [37]:
def sqrt(x):
    res = x ** (1 / 2)
    return print(res)

def multiply(x, y):
    res = x ** y
    return print(res)

def divide(x, n = 2):
    res = x / n
    return print(res)

sqrt(4)
multiply(2, 3)
divide(6, 2)

2.0
8
3.0

In [38]:
divide_lam = lambda x, n : x / n
divide_lam(10, 2)

5.0

In [41]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_31',
 '_32',
 '_38',
 '_4',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'datetime',
 'divide',
 'divide_lam',
 'dt',
 'dt1',
 'dt2',
 'exit',
 'get_ipython',
 'i',
 'multiply',
 'num',
 'open',
 'quit',
 'relativedelta',
 'sqrt',
 'var']

In [5]:
import seaborn as sns

iris = sns.load_dataset('iris')

iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]